<div class="posts">
    {{#await modules}}
    <!-- MESSAGE BOX -->
    <div class="message-box row row-centered row-vCentered" style="display: flex;border: none;">
        <span>Loading modules...</span>
    </div><!-- END MESSAGE BOX -->
    {{then modules}} 
        {{#each modules as module}}
        <ModuleItem entry="{{module}}" /> 
        {{/each}} 
        {{#if modules.length == 0}}
        <!-- MESSAGE BOX -->
    <div class="message-box row row-centered row-vCentered" style="display: flex;border: none;">
            <span>Search did not return any results...</span>
        </div><!-- END MESSAGE BOX -->
        
        {{/if}}
    
    {{catch error}}
    <p>well that's odd</p>
    {{/await}}
</div>

<script>
    import ModuleItem from './ModuleItem.html'

    export default {
        oncreate() {
            this.observe('query', ({ query }) => {

                let modules, old;

                if(!query) {
                    modules = this.get('sourceModules');
                    return this.set({modules});
                }

                old = this.get('sourceModules');

                if(!old) {
                    old = this.get('modules');
                    this.set({sourceModules: old});
                }

                if(!old) return;
                
                let options = {
                    shouldSort: true,
                    threshold: 0.6,
                    location: 0,
                    distance: 100,
                    maxPatternLength: 32,
                    minMatchCharLength: 1,
                    keys: [
                        'author',
                        'name'
                    ]
                };

                let fuse = new Fuse(old, options);
                modules = fuse.search(query);

                this.set({ modules });

            }, { init: false });
        },
        components: {
            ModuleItem
        }
    }
</script>